* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2e80ce;
  --bg-color: #10375c;
  --white-color: #fff;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
}

/* Common */
a {
  text-decoration: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  width: 1170px;
  min-width: calc(1170px - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 205px;
  padding: 15px 65px;
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.593;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 999px;
  outline: none;
  border: 1px solid var(--primary-color);
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn--small {
  min-width: 104px;
  padding: 8px 14px;
  font-size: 1.6rem;
  line-height: 1.667em;
}

.btn.btn--text {
  min-width: 104px;
  padding: 8px 14px;
  line-height: 1.667em;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: transparent;
  border-color: transparent;
}

.btn.btn--text:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  font-size: 1rem;
}

.logo__icon {
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--primary-color);
}

.logo__icon::after {
  content: "";
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background: var(--white-color);
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  font-family: Sora;
  color: var(--white-color);
  line-height: 1.6em;
}

.logo__text-top {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
}

.logo__text-bottom {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header */
.header {
  padding-top: 32px;
  background-color: var(--bg-color);
}

.header--fixed {
  position: sticky;
  top: -32px;
}

.header__body {
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__item {
}

.navbar__item-link {
  padding: 4px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.navbar__item-link--active {
  color: var(--white-color);
  font-weight: 400;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__item-link--active::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  transform: translateY(-2px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.navbar__item-link:hover {
  color: var(--white-color);
  text-shadow: 1px 0 0 currentColor;
}

/* Hero */
.hero {
  background-color: var(--bg-color);
}
.hero__body {
  padding: 70px 0 110px;
  display: flex;
  justify-content: space-between;
}

.hero__title {
  width: 517px;
  color: var(--white-color);
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.14rem;
}

.hero__desc {
  margin-top: 22px;
  width: 468px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.hero__actions {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__actions-btn + .hero__actions-btn {
  margin-left: 23px;
}

.hero__media {
  display: flex;
  align-items: center;

  flex-direction: reverse;
  margin-left: 113px;
}

.hero__media-img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  z-index: 1;
}

.hero__media-img--small {
  margin-left: -6px;
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
}
